body {
  background: black;
  color: white;
}

a,
a:hover {
  text-decoration: none;
  color: white;
}

.container {
  height: 100vh;
}

/* heading landing */

#warped {
  position: relative;
  display: block;
  width: 588px;
  height: 440px;
}

#warped > span[class^="w"]:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#warped span {
  font-family: "Oxygen", "Ubuntu";
  font-size: 38px;
  font-weight: regular;
  font-style: normal;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}

#warped .w0 {
  -moz-transform: rotate(3.5rad);
  -webkit-transform: rotate(3.5rad);
  -o-transform: rotate(3.5rad);
  -ms-transform: rotate(3.5rad);
  transform: rotate(3.5rad);
  width: 39px;
  height: 25px;
  left: 221.77px;
  top: 335.42px;
}

#warped .w1 {
  -moz-transform: rotate(3.73rad);
  -webkit-transform: rotate(3.73rad);
  -o-transform: rotate(3.73rad);
  -ms-transform: rotate(3.73rad);
  transform: rotate(3.73rad);
  width: 22px;
  height: 25px;
  left: 198.81px;
  top: 319.14px;
}

#warped .w2 {
  -moz-transform: rotate(3.88rad);
  -webkit-transform: rotate(3.88rad);
  -o-transform: rotate(3.88rad);
  -ms-transform: rotate(3.88rad);
  transform: rotate(3.88rad);
  width: 12px;
  height: 25px;
  left: 186.57px;
  top: 305.51px;
}

#warped .w3 {
  -moz-transform: rotate(4.02rad);
  -webkit-transform: rotate(4.02rad);
  -o-transform: rotate(4.02rad);
  -ms-transform: rotate(4.02rad);
  transform: rotate(4.02rad);
  width: 21px;
  height: 25px;
  left: 167.33px;
  top: 289.89px;
}

#warped .w4 {
  -moz-transform: rotate(4.2rad);
  -webkit-transform: rotate(4.2rad);
  -o-transform: rotate(4.2rad);
  -ms-transform: rotate(4.2rad);
  transform: rotate(4.2rad);
  width: 23px;
  height: 25px;
  left: 151.21px;
  top: 267.56px;
}

#warped .w5 {
  -moz-transform: rotate(4.43rad);
  -webkit-transform: rotate(4.43rad);
  -o-transform: rotate(4.43rad);
  -ms-transform: rotate(4.43rad);
  transform: rotate(4.43rad);
  width: 36px;
  height: 25px;
  left: 131.63px;
  top: 235.72px;
}

#warped .w6 {
  -moz-transform: rotate(4.66rad);
  -webkit-transform: rotate(4.66rad);
  -o-transform: rotate(4.66rad);
  -ms-transform: rotate(4.66rad);
  transform: rotate(4.66rad);
  width: 22px;
  height: 25px;
  left: 133.17px;
  top: 202.23px;
}

#warped .w7 {
  -moz-transform: rotate(4.81rad);
  -webkit-transform: rotate(4.81rad);
  -o-transform: rotate(4.81rad);
  -ms-transform: rotate(4.81rad);
  transform: rotate(4.81rad);
  width: 12px;
  height: 25px;
  left: 138.72px;
  top: 180.26px;
}

#warped .w8 {
  -moz-transform: rotate(4.93rad);
  -webkit-transform: rotate(4.93rad);
  -o-transform: rotate(4.93rad);
  -ms-transform: rotate(4.93rad);
  transform: rotate(4.93rad);
  width: 15px;
  height: 25px;
  left: 140.17px;
  top: 162.01px;
}

#warped .w9 {
  -moz-transform: rotate(5.09rad);
  -webkit-transform: rotate(5.09rad);
  -o-transform: rotate(5.09rad);
  -ms-transform: rotate(5.09rad);
  transform: rotate(5.09rad);
  width: 23px;
  height: 25px;
  left: 143.29px;
  top: 139.11px;
}

#warped .w10 {
  -moz-transform: rotate(5.24rad);
  -webkit-transform: rotate(5.24rad);
  -o-transform: rotate(5.24rad);
  -ms-transform: rotate(5.24rad);
  transform: rotate(5.24rad);
  width: 12px;
  height: 25px;
  left: 158.71px;
  top: 118.94px;
}

#warped .w11 {
  -moz-transform: rotate(5.43rad);
  -webkit-transform: rotate(5.43rad);
  -o-transform: rotate(5.43rad);
  -ms-transform: rotate(5.43rad);
  transform: rotate(5.43rad);
  width: 36px;
  height: 25px;
  left: 163.73px;
  top: 95.52px;
}

#warped .w12 {
  -moz-transform: rotate(5.66rad);
  -webkit-transform: rotate(5.66rad);
  -o-transform: rotate(5.66rad);
  -ms-transform: rotate(5.66rad);
  transform: rotate(5.66rad);
  width: 21px;
  height: 25px;
  left: 196.05px;
  top: 73.12px;
}

#warped .w13 {
  -moz-transform: rotate(5.8rad);
  -webkit-transform: rotate(5.8rad);
  -o-transform: rotate(5.8rad);
  -ms-transform: rotate(5.8rad);
  transform: rotate(5.8rad);
  width: 12px;
  height: 25px;
  left: 218.85px;
  top: 61.88px;
}

#warped .w14 {
  -moz-transform: rotate(5.97rad);
  -webkit-transform: rotate(5.97rad);
  -o-transform: rotate(5.97rad);
  -ms-transform: rotate(5.97rad);
  transform: rotate(5.97rad);
  width: 29px;
  height: 25px;
  left: 233.87px;
  top: 52.1px;
}

#warped .w15 {
  -moz-transform: rotate(6.14rad);
  -webkit-transform: rotate(6.14rad);
  -o-transform: rotate(6.14rad);
  -ms-transform: rotate(6.14rad);
  transform: rotate(6.14rad);
  width: 12px;
  height: 25px;
  left: 267.2px;
  top: 46.44px;
}

#warped .w16 {
  -moz-transform: rotate(6.28rad);
  -webkit-transform: rotate(6.28rad);
  -o-transform: rotate(6.28rad);
  -ms-transform: rotate(6.28rad);
  transform: rotate(6.28rad);
  width: 21px;
  height: 25px;
  left: 284.14px;
  top: 45px;
}

#warped .w17 {
  -moz-transform: rotate(6.46rad);
  -webkit-transform: rotate(6.46rad);
  -o-transform: rotate(6.46rad);
  -ms-transform: rotate(6.46rad);
  transform: rotate(6.46rad);
  width: 23px;
  height: 25px;
  left: 309.98px;
  top: 47.53px;
}

#warped .w18 {
  -moz-transform: rotate(6.61rad);
  -webkit-transform: rotate(6.61rad);
  -o-transform: rotate(6.61rad);
  -ms-transform: rotate(6.61rad);
  transform: rotate(6.61rad);
  width: 12px;
  height: 25px;
  left: 337.21px;
  top: 53.3px;
}

#warped .w19 {
  -moz-transform: rotate(6.8rad);
  -webkit-transform: rotate(6.8rad);
  -o-transform: rotate(6.8rad);
  -ms-transform: rotate(6.8rad);
  transform: rotate(6.8rad);
  width: 34px;
  height: 25px;
  left: 351.65px;
  top: 64.89px;
}

#warped .w20 {
  -moz-transform: rotate(6.99rad);
  -webkit-transform: rotate(6.99rad);
  -o-transform: rotate(6.99rad);
  -ms-transform: rotate(6.99rad);
  transform: rotate(6.99rad);
  width: 12px;
  height: 25px;
  left: 385.5px;
  top: 81.01px;
}

#warped .w21 {
  -moz-transform: rotate(7.19rad);
  -webkit-transform: rotate(7.19rad);
  -o-transform: rotate(7.19rad);
  -ms-transform: rotate(7.19rad);
  transform: rotate(7.19rad);
  width: 39px;
  height: 25px;
  left: 393.01px;
  top: 103.05px;
}

#warped .w22 {
  -moz-transform: rotate(7.43rad);
  -webkit-transform: rotate(7.43rad);
  -o-transform: rotate(7.43rad);
  -ms-transform: rotate(7.43rad);
  transform: rotate(7.43rad);
  width: 23px;
  height: 25px;
  left: 419.47px;
  top: 133.85px;
}

#warped .w23 {
  -moz-transform: rotate(7.6rad);
  -webkit-transform: rotate(7.6rad);
  -o-transform: rotate(7.6rad);
  -ms-transform: rotate(7.6rad);
  transform: rotate(7.6rad);
  width: 18px;
  height: 25px;
  left: 430.34px;
  top: 157.91px;
}

#warped .w24 {
  -moz-transform: rotate(7.74rad);
  -webkit-transform: rotate(7.74rad);
  -o-transform: rotate(7.74rad);
  -ms-transform: rotate(7.74rad);
  transform: rotate(7.74rad);
  width: 15px;
  height: 25px;
  left: 435.64px;
  top: 179.05px;
}

#warped .w25 {
  -moz-transform: rotate(7.9rad);
  -webkit-transform: rotate(7.9rad);
  -o-transform: rotate(7.9rad);
  -ms-transform: rotate(7.9rad);
  transform: rotate(7.9rad);
  width: 21px;
  height: 25px;
  left: 433.33px;
  top: 202.01px;
}

#warped .w26 {
  -moz-transform: rotate(8.04rad);
  -webkit-transform: rotate(8.04rad);
  -o-transform: rotate(8.04rad);
  -ms-transform: rotate(8.04rad);
  transform: rotate(8.04rad);
  width: 12px;
  height: 25px;
  left: 435.29px;
  top: 223.35px;
}

#warped .w27 {
  -moz-transform: rotate(8.2rad);
  -webkit-transform: rotate(8.2rad);
  -o-transform: rotate(8.2rad);
  -ms-transform: rotate(8.2rad);
  transform: rotate(8.2rad);
  width: 26px;
  height: 25px;
  left: 421.89px;
  top: 246.45px;
}

#warped .w28 {
  -moz-transform: rotate(8.4rad);
  -webkit-transform: rotate(8.4rad);
  -o-transform: rotate(8.4rad);
  -ms-transform: rotate(8.4rad);
  transform: rotate(8.4rad);
  width: 23px;
  height: 25px;
  left: 410.62px;
  top: 272.99px;
}

#warped .w29 {
  -moz-transform: rotate(8.59rad);
  -webkit-transform: rotate(8.59rad);
  -o-transform: rotate(8.59rad);
  -ms-transform: rotate(8.59rad);
  transform: rotate(8.59rad);
  width: 24px;
  height: 25px;
  left: 393.09px;
  top: 295.78px;
}

#warped .w30 {
  -moz-transform: rotate(8.78rad);
  -webkit-transform: rotate(8.78rad);
  -o-transform: rotate(8.78rad);
  -ms-transform: rotate(8.78rad);
  transform: rotate(8.78rad);
  width: 24px;
  height: 25px;
  left: 371.65px;
  top: 315.25px;
}

#warped .w31 {
  -moz-transform: rotate(8.97rad);
  -webkit-transform: rotate(8.97rad);
  -o-transform: rotate(8.97rad);
  -ms-transform: rotate(8.97rad);
  transform: rotate(8.97rad);
  width: 23px;
  height: 25px;
  left: 347.83px;
  top: 330.02px;
}

#warped .w32 {
  -moz-transform: rotate(9.16rad);
  -webkit-transform: rotate(9.16rad);
  -o-transform: rotate(9.16rad);
  -ms-transform: rotate(9.16rad);
  transform: rotate(9.16rad);
  width: 24px;
  height: 25px;
  left: 320.65px;
  top: 339.93px;
}

#warped .w33 {
  -moz-transform: rotate(9.35rad);
  -webkit-transform: rotate(9.35rad);
  -o-transform: rotate(9.35rad);
  -ms-transform: rotate(9.35rad);
  transform: rotate(9.35rad);
  width: 22px;
  height: 25px;
  left: 294.08px;
  top: 344.58px;
}

.loading {
  width: 100px;
  height: 100px;
  background: transparent;
  animation: rotate 10s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
